{% extends 'baseadmin.html.twig' %}

{% block title %}Semestre{% endblock %}

{% block body %}
    <style>
        .create{
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>
    {% if semestres %}
        <table id="semestre" class="table table-striped">
            <thead>
            <tr>
                <th>Semestre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for semestre in semestres %}
                <tr>
                    <td>{{ semestre.libelle }}</td>
                    <td>
                        <a href="/admin/semestre/{{semestre.id}}"
                           class="btn shadow-1 rounded-1 blue dark">Show</a>
                        <a href="/admin/modifier/semestre/{{semestre.id}}"
                           class="btn shadow-1 rounded-1 light">Edit</a>
                        <a href="/admin/semestre/delete/{{semestre.id}}"
                           class="btn shadow-1 rounded-1 blue red">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="/admin/semestre/ajouter" class="btn shadow-1 rounded-1 light create">Create</a>
    {% else %}
        <p>Aucun Semestre</p>
        <a href="/admin/semestre/ajouter" class="btn shadow-1 rounded-1 light create">Create</a>
    {% endif %}
{% endblock %}

