{% extends 'base.html.twig' %}

{% block title %}Filiere{% endblock %}

{% block body %}
    <style>
        .create{
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>
    {% if filieres %}
        <table id="filiere" class="table table-striped">
            <thead>
            <tr>
                <th>Filiere</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for filiere in filieres %}
                <tr>
                    <td>{{ filiere.libelle }}</td>
                    <td>
                        <a href="/admin/filiere/{{filiere.id}}"
                           class="btn shadow-1 rounded-1 blue dark">Show</a>
                        <a href="/admin/modifier/filiere/{{filiere.id}}"
                           class="btn shadow-1 rounded-1 light">Edit</a>
                        <a href="/admin/filiere/delete/{{filiere.id}}"
                           class="btn shadow-1 rounded-1 blue red">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="/admin/filiere/ajouter" class="btn shadow-1 rounded-1 light create">Create</a>
    {% else %}
        <p>Aucune Filiere</p>
    {% endif %}
{% endblock %}

