{% extends 'baseadmin.html.twig' %}

{% block title %}Module{% endblock %}

{% block body %}
    <style>
        .create{
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>
    {% if modules %}
        <table id="module" class="table table-striped">
            <thead>
            <tr>
                <th>Module</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr>
                    <td>{{ module.libelle }}</td>
                    <td>
                        <a href="/admin/module/{{module.id}}"
                           class="btn shadow-1 rounded-1 blue dark">Show</a>
                        <a href="/admin/modifier/module/{{module.id}}"
                           class="btn shadow-1 rounded-1 light">Edit</a>
                        <a href="/admin/module/delete/{{module.id}}"
                           class="btn shadow-1 rounded-1 blue red">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="/admin/module/ajouter" class="btn shadow-1 rounded-1 light create">Create</a>
    {% else %}
        <p>Aucun Module</p>
        <a href="/admin/module/ajouter" class="btn shadow-1 rounded-1 light create">Create</a>
    {% endif %}
{% endblock %}

